 <section id="hero2" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">

      <h1>Requerimientos en Proceso<br></h1>
      <h1>Visualiza todos los requerimientos que estan en proceso</h1>
    </div>
  </section>
  <br>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>