 @model dynamic

  <section id="hero2" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">

      <h1>Ver Estados de Requerimientos terminados<br></h1>
      <h1> Visualiza el estado de todos tus requerimientos terminados</h1>
    </div>
  </section>
  <br>

  <br>

  <div class="container">
 <table class="table" >
  <thead>
    <tr style="background-color: #910222;">
      <th style="color: white;" scope="col">Solicitud</th>
      <th style="color: white;" scope="col">Nombres</th>
      <th style="color: white;" scope="col">Apellidos</th>
      <th style="color: white;" scope="col">Estado</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>