 <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">

      <h1>Agregar Requerimiento<br></h1>
      <h1>Agrega tu requerimiento y completa el formulario de acuerdo a tu problema</h1>
    </div>
  </section>
  <br>

   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>