<div id="login" style="padding-bottom: 0%;">
    <img src="~/img/fia.jpg" style="width: 100%;" style="padding-bottom: 0%;">
<div class="loginbox" style="padding-bottom: none;">
        <h1>Login</h1>
        <form>
            <p>Usuario</p>
            <input type="text" name="" placeholder="Escribe tu nombre de usuario">
            <p>Contraseña</p>
            <input type="password" name="" placeholder="Escribe tu contraseña">
            <input type="submit" name="" value="Login">
        </form>
        
    </div>
</div>