 <section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Bienvenido Alumno<br></h1>
      <h1>De Ingenieria de Computación y Sistemas</h1>
    </div>
  </section>
 
 <section id="services" class="services section-bg">
    <div class="container">

      <div class="section-title">
        <h2 data-aos="fade-in">Funcionalidades del Alumno</h2>
        <p data-aos="fade-in">Elige una de las funciones de acuerdo a tu necesidad</p>
      </div>

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
          <div class="card">
            <div class="card-img">
              <img src="~/img/RegistrarRequerimiento.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a asp-controller="Formulario" asp-action="Index">Agregar Requerimiento</a></h5>
              <p class="card-text">Agrega el requerimiento de acuerdo al problema o incoveniente que presentes</p>
         
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
          <div class="card">
            <div class="card-img">
              <img src="~/img/VerRequerimiento.jpg" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a asp-controller="Listado" asp-action="Index">Ver Estados de Requerimientos</a></h5>
              <p class="card-text">Ve el estado de tu requerimiento y dale su respectivo seguimiento</p>
        
            </div>
          </div>

        
    </div>
  </section>