
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  text-decoration: none;
}

a {
  color: #910222;
}

a:hover {
  color:#910222;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  text-decoration: none;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background:#6C0D0E;
  color: #fff;
  transition: all 0.4s;
  text-decoration: none;
}

.back-to-top i:hover {
  background:#6C0D0E;
  color: #fff;
  text-decoration: none;
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  top: 0px;
  text-decoration: none;
}

#header.header-scrolled {
  top: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

#header .logo a {
  color:#6C0D0E;
  text-decoration: none;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    top: 0;
    padding: 15px 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.nav-menu > ul {
  display: flex;
  text-decoration: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
  text-decoration: none;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #222222;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #910222;
  text-decoration: none;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 15px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  text-decoration: none;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #222222;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color:#910222;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/*--------------------------------------------------------------
# Get Started Button (Logout)
--------------------------------------------------------------*/

.get-started-btn {
  margin-left: 25px;
  color: #910222;
  border-radius: 4px;
  padding: 7px 25px 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
  border: 2px solid #910222;
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
}

.get-started-btn:hover {
  background:#910222;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) {
  .get-started-btn {
    margin: 0 48px 0 0;
    padding: 6px 18px;
  }
}


/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/

.mobile-nav-toggle {
  position: fixed;
  top: 18px;
  right: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #222222;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #222222;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #910222;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #910222;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  margin: -17px;
}

#footer h3 {
  font-size: 36px;
  font-weight: 700;
  color: #fff;
  position: relative;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0 0 15px 0;
}

#footer p {
  font-size: 15;
  font-style: italic;
  padding: 0;
  margin: 0 0 40px 0;
}

#footer .social-links {
  margin: 0 0 40px 0;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #6C0D0E ;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background:  #292927;
  color: #fff;
  text-decoration: none;
}

#footer .copyright {
  margin: 0 0 5px 0;
}

#footer .credits {
  font-size: 13px;
}


  /*--------------------------------------------------------------
  # Sections General
  --------------------------------------------------------------*/
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background: linear-gradient(180deg, #f2f6fa 0%, #fff 100%);
  }
  
  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .section-title h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-family: "Poppins", sans-serif;
    color:#910222;
  }
  
  .section-title h2::before {
    content: '';
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
    text-decoration: none;
  }
  
  .section-title h2::after {
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #910222;
    bottom: 0;
    left: calc(50% - 20px);
    text-decoration: none;
  }
  
  .section-title p {
    margin-bottom: 0;
  }
  
  
  
  
  /*--------------------------------------------------------------
  # About
  --------------------------------------------------------------*/
  .about .content {
    padding: 30px 0;
  }
  
  .about .content h3 {
    font-weight: 700;
    font-size: 34px;
    color: #213b52;
  }
  
  .about .content p {
    margin-bottom: 0;
  }
  
  .about .content .icon-box {
    margin-top: 25px;
  }
  
  .about .content .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 5px 0 10px 60px;
    color: #910222;
  }
  
  .about .content .icon-box h4 a {
    color: #910222;
    transition: 0.3s;
  }
  
  .about .content .icon-box h4 a:hover {
    color: #910222;
  }
  
  .about .content .icon-box i {
    font-size: 48px;
    float: left;
    color:#910222;
  }
  
  .about .content .icon-box p {
    font-size: 15px;
    color: #848484;
    margin-left: 60px;
  }
  
  
  @media (max-width: 667px) {
    .about .image img {
      max-width: 100%;
    }
  }
  
  /*--------------------------------------------------------------
  # Services
  --------------------------------------------------------------*/
  .services {
    padding-bottom: 40px;
  }
  
  .services .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
  }
  
  .services .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
  }
  
  .services .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
  }
  
  .services .card-body {
    z-index: 10;
    background: #fff;
    border-top: 4px solid #fff;
    padding: 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    margin-top: -60px;
    transition: 0.3s;
  }
  
  .services .card-title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .services .card-title a {
    color: #910222;
    transition: 0.3s;
  }
  
  .services .card-text {
    color: #5e5e5e;
  }
  
  .services .read-more a {
    color: #777777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    transition: 0.3s;
  }
  
  .services .read-more a:hover {
    color: #910222;
    text-decoration: none;
  }
  
  .services .card:hover img {
    transform: scale(1.1);
  }
  
  .services .card:hover .card-body {
    border-color: #910222;
    text-decoration: none;
  }
  
  .services .card:hover .card-body .card-title a {
    color: #910222;
    text-decoration: none;
  }
  
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 80vh;
  background: url("../img/alumnos.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  padding-top: 72px;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 62px;
  }
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  border-color: 30% bold black;
  
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #eee;
  margin: 10px 0 0 0;
  font-size: 24px;
}



@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

#hero3 {
  width: 100%;
  height: 80vh;
  background: url("../img/agregarRequerimiento.jpg") top center;
  background-size: cover;
  position: relative;
}

/*--------------------------------------------------------------
# Hero 
--------------------------------------------------------------*/
#hero2 {
  width: 100%;
  height: 80vh;
  background: url("../img/consejeros.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero2:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero2 .container {
  padding-top: 72px;
}

@media (max-width: 992px) {
  #hero2 .container {
    padding-top: 62px;
  }
}

#hero2 h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

#hero2 h2 {
  color: #eee;
  margin: 10px 0 0 0;
  font-size: 24px;
}


@media (min-width: 1024px) {
  #hero2 {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }
  #hero2 h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero2 h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

/*--------------------------------------------------------------
# Login
--------------------------------------------------------------*/

#login{
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  padding-bottom: 0px;
}

.loginbox{
  width: 500px;
  height: 420px;
  background: black;
  color: #fff;
  top: 55%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  padding-bottom: 0px;
  border-radius: 5px;
}



h1{
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 22px;
}

.loginbox p{
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input{
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"], input[type="password"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginbox input[type="submit"]
{
  border: none;
  outline: none;
  height: 40px;
  background: #CCCDCF;
  color: black;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
  cursor: pointer;
  background: #910222;
  color: #fff;
}








